@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Creating a user experience much like “Quicken” and allows for a customized. Customer experience.

    This application allows you to create a checking account registry for multiple users and to track the data separately. Your able to create list of categories, descriptions, method of payment per transaction and of utility companies.

    Future versions of this application will allow for creating a transaction via drop down menus and picking predefined users specified naming convention. A table to track all the cost providing total dollar amount for the user defined data search.
</p>
